<div class="form-group">
  <h1 *ngIf="doesMessagesExist()"> List of Messages </h1>
  <ul>
      <li *ngFor="let message of messages">
          {{message.message_text}} {{message.date}}
      </li>
  </ul>
  <h1 *ngIf="doesUsersExist()"> List of Online Users </h1>
  <ul>
      <li *ngFor="let user of users">
          {{user.name}}
      </li>
  </ul>
  <h1 *ngIf="doesPostsExist()"> List of Posts </h1>
  <ul>
      <li *ngFor="let post of posts">
          {{post.post_title}} {{post.post_desc}} {{post.post_text}} {{post.date}}
      </li>
  </ul>
</div>
